.movieTitle {
  margin-bottom: 16px;
}

.moviePoster {
  margin-bottom: 16px;
}

.movieOverview {
  width: 600px;
  margin-bottom: 20px;
}

.movieLink {
  display: flex;
  gap: 20px;
  margin-bottom: 14px;
}
